table {
  width: 90%;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0 auto;
  border-radius: 5%;
}
/* Zebra striping */

th {
  background: #9d4edd;
  color: white;
  font-weight: bold;
  padding: 6px;
  border: 1px solid white;
  width: fit-content;
}
td {
  background-color: hsl(279, 58%, 86%);
  border: 1px solid white;
}
.settings {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
}
button {
  width: max-content;
  height: max-content;
  padding: 5px;
  font-size: large;
  background-color: #9d4edd;
  border-radius: 3px;
  border: 0;
  color: white;
  margin-top: 3px;
}
button:hover {
  background-color: hsl(280, 63%, 67%);
  cursor: pointer;
  scale: 1.05;
}
.box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  h4 {
    margin-left: 0.7%;
  }
}
.clmns {
  // display: flex;
  // flex-direction: row;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
button {
  margin-right: 6px;
  margin-bottom: 3px;
}
.column {
  width: max-content;
  border: 1px solid black;
  margin-left: 5px;
  padding: 4px;
  border-radius: 3px;
  background-color: hsl(279, 58%, 86%);
}
.on {
  background: #9d4edd;
}
.whole1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: max-content;
}
input {
  width: max-content;
}
.resetButton {
  margin-left: 5%;
}
.stringQuery {
  display: none;
}
.whole1:hover {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: max-content;

  transition: all 4s ease-in-out 0s;
  .stringQuery {
    display: block;
  }
}
.requestQuery {
  display: none;
}
.whole2:hover {
  cursor: pointer;
  .requestQuery {
    display: block;
  }
}
.responseQuery {
  display: none;
}
.whole3:hover {
  cursor: pointer;
  .responseQuery {
    display: block;
  }
}
.impressionsQuery {
  display: none;
}
.whole4:hover {
  cursor: pointer;
  .impressionsQuery {
    display: block;
  }
}
.clicksQuery {
  display: none;
}
.whole5:hover {
  cursor: pointer;
  .clicksQuery {
    display: block;
  }
}
.revenueQuery {
  display: none;
}
.whole6:hover {
  cursor: pointer;
  .revenueQuery {
    display: block;
  }
}
.fillrateQuery {
  display: none;
}
.whole7:hover {
  cursor: pointer;
  .fillrateQuery {
    display: block;
  }
}
.ctrrQuery {
  display: none;
}
.whole8:hover {
  cursor: pointer;
  .ctrrQuery {
    display: block;
  }
}
.para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: max-content;
}
.datee {
  width: 10%;
}
.filterImg {
  height: 20px;
  width: 20px;
}
